.icon-vertical-alignment {
    padding-top: 4px;
}

.swiper-slide {
    display: block;
    font-size: inherit;
}

p {
    color: var(--ion-color-step-600);
}

ion-grid{
    height: 100%;
    justify-content: center;
}
