<ion-split-pane contentId="main-content" when="md">
  <ion-tabs id="main-content">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="HomeTab">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="SearchTab">
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="BookmarksTab">
        <ion-icon name="heart"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="SettingsTab">
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-split-pane>