.no-top-padding {
    padding-top: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.capitalize-text {
    text-transform: capitalize;
}

.vertical-text-align {
    vertical-align: -webkit-baseline-middle;
}
