<ion-content fullscreen>
  <ng-container *ngIf="!moviesByDate && !mostViewedMovies && !topRatedMovies">
    <ion-spinner class="spinner-center" color="tertiary" name="circles"></ion-spinner>
  </ng-container>
 
  <ng-container *ngIf="moviesByDate && mostViewedMovies && topRatedMovies">
    <ion-slides pager="true" [options]="bannerSlideOpts">
      <ion-slide *ngFor="let movie of moviesByDate">
        <ion-img class="slide-content-image" [alt]="movie.title_long" [src]="movie.large_cover_image"
          (click)="showMovieDetails(movie.id)"></ion-img>
      </ion-slide>
    </ion-slides>

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md>
          <ion-text>
            <h4>Most viewed</h4>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md>
          <ion-slides [options]="movieCatalogSlideOption">
            <ion-slide *ngFor="let movie of mostViewedMovies">
              <ion-img [alt]="movie.title_english" [src]="movie.large_cover_image"></ion-img>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md>
          <ion-text>
            <h4>Top rated movies</h4>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md>
          <ion-slides [options]="movieCatalogSlideOption">
            <ion-slide *ngFor="let movie of topRatedMovies">
              <ion-img [alt]="movie.title_english" [src]="movie.large_cover_image"></ion-img>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>


</ion-content>