<ion-header>
  <ion-toolbar class="toolbar-size" color="tertiary">
    <a routerLink="/tabs/HomeTab">
      <img src="../../assets/images/logo.png">
    </a>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="refreshHomeContent($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="!topPickMovies && !mostViewedMovies && !topRatedMovies">
    <ion-spinner class="spinner-center" color="tertiary" name="circles"></ion-spinner>
  </ng-container>
 
  <div *ngIf="topPickMovies && mostViewedMovies && topRatedMovies" class="ion-margin-top">
    <ion-slides pager="true" [options]="bannerSlideOpts">
      <ion-slide *ngFor="let movie of topPickMovies">
        <ion-img class="slide-content-image" [alt]="movie.title_long" [src]="movie.large_cover_image"
          (click)="showMovieDetails(movie.id)"></ion-img>
      </ion-slide>
    </ion-slides>

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md>
          <ion-text>
            <h4>Most viewed</h4>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md>
          <ion-slides [options]="movieCatalogSlideOption">
            <ion-slide *ngFor="let movie of mostViewedMovies">
              <ion-img [alt]="movie.title_english" [src]="movie.large_cover_image" (click)="showMovieDetails(movie.id)">
              </ion-img>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md>
          <ion-text>
            <h4>Top rated movies</h4>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md>
          <ion-slides [options]="movieCatalogSlideOption">
            <ion-slide *ngFor="let movie of topRatedMovies">
              <ion-img [alt]="movie.title_english" [src]="movie.large_cover_image" (click)="showMovieDetails(movie.id)">
              </ion-img>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>