<!-- <ion-header>
  <ion-toolbar class="toolbar-size" color="secondary">
    <img class="app-logo" src="../../../../assets/images/app-logo.png" alt="Logo">
    <ion-text>
      <h1>Popcorn</h1>
    </ion-text>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-header>
  <ion-toolbar color="secondary">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="2" size-md class="ion-no-padding">
          <img class="app-logo" src="../../../../assets/images/app-logo.png" alt="Logo">
        </ion-col>
        <ion-col class="ion-no-padding" size-md>
          <ion-text>
            <h1>Popcorn</h1>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      <img height="50" src="../../../../assets/images/app-logo.png" alt="Logo">Popcorn
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-text><h1>Popcorn</h1></ion-text>
    </ion-col>
  </ion-row>
</ion-grid>